<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>React App</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="React app Starter with webpack and redux" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <% for(const key of serverVars) {%>
    <meta name="server-var" key="<%= key %>" value="<%= config[key] %>" />
    <% } %>
      <% if (config.googleAnalyticsApiKey) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config['googleAnalyticsApiKey']%>"></script>
        <script>
          window.googleAnalyticsApiKey = '<%= config.googleAnalyticsApiKey %>';
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
        </script>
        <% } %>
          <link rel="stylesheet" type="css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
  <div id="app"></div>
  <script>
    __REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__;
  </script>
  <script src="https://apis.google.com/js/platform.js"></script>
</body>

</html>
